<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :max_head_count %><br />
    <%= f.number_field :max_head_count %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.date_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.date_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.date_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :del_flg %><br />
    <%= f.check_box :del_flg %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.number_field :version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
