<%= subscribe_to "/rooms/#{@room.id}" %>
<%= form_tag({:controller => 'message', :action => 'create.js'}, :remote => true) do %>
  <div class="field">
    <%= text_field_tag 'message' %>
  </div>
  <div class="field">
    <%= hidden_field_tag 'room_id', @room.id %>
  </div>
  <%= submit_tag 'POST' %>
<% end %>
<table id="chat">
</table>

<% content_for :members do %>
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header"><%= @room.name %></li>
        <li class="nav-header">XX MEMBERS</li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
<% end %>
